@font-face {
  font-family: "iconfont"; /* Project id 3730726 */
  src: url('iconfont.woff2?t=1672295814069') format('woff2'),
       url('iconfont.woff?t=1672295814069') format('woff'),
       url('iconfont.ttf?t=1672295814069') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-jiantou_xiangzuo:before {
  content: "\eb09";
}

.icon-jiantou_xiangxia:before {
  content: "\eb0a";
}

.icon-jiantou_xiangshang:before {
  content: "\eb0b";
}

.icon-cuowuguanbiquxiao:before {
  content: "\e8e7";
}

.icon-duigou:before {
  content: "\ebe6";
}

.icon-xiangxia:before {
  content: "\e601";
}

.icon-xiangshang:before {
  content: "\e602";
}

